* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/**
* BESTSELLERS
*/
.best-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    padding: 25px;
    border: 1px solid lightgray;
}

.best-item:hover {
    box-shadow: 3px 3px 7px black;
}

.best-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/**
* PROMOTION
*/
.promotion-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: lightgray;
    padding: 20px 0 20px 50px;
}

/**
* RECENTLY VIEWED
*/
.recently-viewed-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.recently-viewed .recently-viewed-item {
    width: 200px;
    border-right: 2px solid lightgray;
    padding-right: 10px;
    padding: 10px;
}

.recently-viewed .recently-viewed-item:hover {
    box-shadow: 3px 3px 5px black;
}

.recently-viewed .recently-viewed-item img {
    width: 100%;
    height: auto;
}

.item-buy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item-buy .cart-cont {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background: yellow;
}

.item-buy .cart-cont svg {
    width: 100%;
    height: 100%;
}

/**
* PARTNER SLIDER
*/
.partner-slider-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.partner-slider-group a {
    opacity: 0.3;
}

.partner-slider-group a:hover {
    opacity: 1;
}


/**
* PRODUCT TYPES
*/
.product-types-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 30px;
}

.product-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-type-title {
    border-bottom: 1px solid gray;
}

.product-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.product-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/**
* FOOTER
*/
.footer-top {
    background: #FED700;
    padding: 15px 0;
}

.footer-top-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer-top input,
.footer-top button {
    padding: 10px;
}

.footer-top input {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.footer-top button {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer svg {
    width: 50px;
    height: auto;
}

.footer-middle {
    background: #F8F8F8;
}

.footer-middle-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer .footer-section {
    display: flex;
    flex-direction: column;

}

.footer-bottom {
    background: #EAEAEA;
    color: gray;
    padding: 15px 0;
}

.footer-bottom .txt-bold {
    font-weight: bold;
    color: black;
}

.footer-bottom-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}